// COLOR
$black: #000;
$white: #fff;

$grey: #fafafa;
$grey-medium: #dbdbdb;
$grey-dark: #8e8e8e;

$red-light: #eb6d7c;
$red-dark: #bd2950;

// FONT
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$open: "Open Sans",
sans-serif;
$mon: 'Montserrat',
sans-serif;